<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="/app/assets/images/favicon.ico"/>
    <title>Kelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> 
    window.krustyKrabUrl = "<%= image_url('krustyKrab.png') %>";
    </script>
    <script type="text/javascript"> 
    window.krabbyPattyUrl= "<%= image_url('krabbyPatty.png') %>";
    </script>
    <script type="text/javascript"> 
    window.spongeFiveUrl= "<%= image_url('spongeFive.png') %>";
    </script>
    <script type="text/javascript"> 
    window.kelpLogoUrl= "<%= image_url('kelpLogo.png') %>";
    </script>
    <script type="text/javascript"> 
    window.searchUrl= "<%= image_url('search.png') %>";
    </script>
    <script type="text/javascript"> 
    window.footerIMGUrl= "<%= image_url('footerIMG.png') %>";
    </script>
    <script type="text/javascript"> 
    window.krabbyPatty4Url= "<%= image_url('krabbyPatty4.png') %>";
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
